{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top: 70px;">
	<div class="row">
		<div class="col-md-10">
			<div class="bg-secondary-subtle p-2 mb-3">
		 		<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
						<li class="breadcrumb-item" aria-current="page">Edit Income </li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="col-md-2">
			<a href="{% url 'income-delete' income.id %}" class="btn btn-danger btn-sm">Delete</a>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<form action="{% url 'income-edit' income.id %}" method="post">

				{% include 'partials/_messages.html' %}
				{% csrf_token %}
				<div class="mb-3">
					<label for="">Amount</label>
					<input type="number" class="form-control form-control-sm" name="amount" value="{{value.amount}}">
				</div>
				<div class="mb-3">
					<label for="">Description</label>
					<input type="text" class="form-control form-control-sm" name="description"
						value="{{value.description}}">
				</div>
				<div class="mb-3">
					<label for="">Source</label>
					<select class="form-select" name="source">
						<option selected name="category" value="{{value.source}}">{{value.source}}</option>
						{% for source in sources %}
						<option name="source" value="{{value.source}}">{{source.name}}</option>
						{% endfor %}

					</select>
				</div>
				<div class="mb-3">
					<label for="">Date of Income</label>
					<input type="date" value="{{value.date | date:'Y-m-d'}}" class="form-control form-control-sm" name="income_date">
				</div>
				<input type="submit" value="Save" class="btn btn-primary btn-primary-sm">
			</form>
		</div>
	</div>
</div>
{% endblock %}